  <section class="jumbotron text-center">
    <div class="container text-white">
      <img src="assets/img/banner.png" alt="" class="img-fluid">
      <button type="button" class="btn btn-dark btn-sm mt-3 d-block mx-auto" (click)="onLogout()">Salir sin votar</button>
    </div>
  </section>
<div class="container">
  <ul class="indicaciones-voto mb-4">
    <li type="square">Clic en el nombre del Partido Político o en <small><i class="fa fa-plus-square" aria-hidden="true"></i></small>
     para ver sus candidatos.</li>
    <li type="square">Clic en el círculo <small><i class="fa fa-dot-circle-o" aria-hidden="true"></i></small> para seleccionar su candidato preferido y luego clic en el boton "VOTAR".</li>
  </ul>
  <div class="container">
    <form id="votarForm"  [formGroup]="votarForm" (ngSubmit)="onVotar()">
      <div class="accordion" id="accordionExample">
        <div class="card" *ngFor="let item of lstPartidoVotante; index as i">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed text-center text-decoration-none text-white" type="button"
                data-toggle="collapse" [attr.data-target]="'#collapse' + (i+1)" aria-expanded="false"
                [attr.aria-controls]="'#collapse' + (i+1)">
                <small class="candidatos"><i class="fa fa-plus-square" aria-hidden="true"></i></small> {{item.nombre}}
              </button>
            </h2>
          </div>
          <div [attr.id]="'collapse' + (i+1)" class="collapse" aria-labelledby="headingOne"
            data-parent="#accordionExample">
            <div class="card-body">
              <ul class="list-group list-group-horizontal" *ngFor="let candidato of item.candidatos">
                <li class="list-group-item" style=" width: 8%; background-color: darkgray;"></li>
                <li class="list-group-item text-center" style=" width: 84%;">{{candidato.nombre}}</li>
                <li class="list-group-item text-center" style=" width: 8%;">
                  <input type="radio" formControlName="voto" [value]="candidato.id">
                </li>
              </ul>
              <div class="text-center">
                <button type="submit" [disabled]="isVoto" class="btn btn-primary mt-2">Votar</button>
              </div>
            </div>
          </div>
          <!-- <div class="card" *ngIf="item.nombre === 'VOTOS EN BLANCO' ">
            <div class="card-header" id="headingThree">
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item" style=" width: 8%;"></li>
                <li class="list-group-item text-center" style=" width: 84%;">{{item.nombre}}</li>
                <li class="list-group-item text-center" style=" width: 8%;">
                  <input type="radio" formControlName="voto" [value]="">
                </li>
              </ul>
            </div>
          </div> -->
        </div>
      </div>
      <!-- <div class="text-center">
        <button type="submit" [disabled]="isVoto" class="btn btn-primary mt-2">Votarwwqw</button>
      </div> -->
    </form>
  </div>
</div>