<div class="container py-4">
  <section class="jumbotron text-center" style="padding: 8px 8px 8px 8px;">
    <div class="container">
      <h2>SISTEMA DE VOTACIONES ONLINE</h2>
      <h4>SINDICATO SECTOR SALUD</h4>
      <p style="font-size: 20px;">Bienvenido Juan Manuel Perez Cruz</p>
    </div>
  </section>
  <ul>
    <li>Haga click en el nombre del Partido Político para ver sus candidatos.</li>
    <li>Haga click en el cuadro para elegir su candidato.</li>
  </ul>
  <div class="container">
    <form id="votarForm"  [formGroup]="votarForm" (ngSubmit)="onVotar()">
      <div class="accordion" id="accordionExample">
        <div class="card" *ngFor="let item of lstData; index as i">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed text-center" type="button"
                data-toggle="collapse" [attr.data-target]="'#collapse' + (i+1)" aria-expanded="false"
                [attr.aria-controls]="'#collapse' + (i+1)">
                {{item.nombre}}
              </button>
            </h2>
          </div>
          <div [attr.id]="'collapse' + (i+1)" class="collapse" aria-labelledby="headingOne"
            data-parent="#accordionExample">
            <div class="card-body">
              <ul class="list-group list-group-horizontal" *ngFor="let candidato of item.candidatos">
                <li class="list-group-item" style=" width: 8%; background-color: darkgray;"></li>
                <li class="list-group-item text-center" style=" width: 84%;">{{candidato.nombre}}</li>
                <li class="list-group-item text-center" style=" width: 8%;">
                  <input type="radio" formControlName="escoger" [value]="candidato.id">
                </li>
              </ul>

            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item" style=" width: 8%;"></li>
              <li class="list-group-item text-center" style=" width: 84%;">Voto en Blanco</li>
              <li class="list-group-item text-center" style=" width: 8%;">
                <input type="checkbox" formControlName="escoger">
              </li>
            </ul>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-lg btn-block mt-5">Votar</button>
    </form>
  </div>
</div>