body{
    font-family: 'Poppins', sans-serif;
    background-color: #ebeef1!important;
}

input:focus, input.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.btn-primary{
    background-color: #1241a5!important;
}

.jumbotron{
    background-color: #1241a5!important;
    border-radius: 0;
}

.jumbotron h2{
    font-weight: 600;
}

.texto-v{
    color: #1241a5!important;
    font-weight: 600;
    font-size: 20px;
} 

::placeholder {
    font-size: 12px;
}

.indicaciones-voto li{
    font-size: 13px;
}

.card-header {
    padding: 0rem 1.25rem;
    background-color: #1241a5!important;
    border-bottom: 2px solid #ffffff!important;
}

.candidatos{
    float: left;
}

.progress-bar small{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 15px;
    font-weight: 800;
}