body{
    font-family: 'Poppins', sans-serif;
    background-color: #314c7a!important;
}

input:focus, input.form-control:focus, select:focus,select.custom-select:focus,.btn-primary:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.btn-primary, .btn-primary:focus  {
    background-color: #314c7a;
    border-color: #314c7a;
}

.btn-primary:hover{
    background-color: #426298;
    border-color: #426298;
}

.jumbotron{
    background-color: #fff!important;
    border-radius: 0;
}
@media (min-width: 576px){
    .jumbotron {
        padding: 1rem 2rem;
    }
}

.jumbotron h2{
    font-weight: 600;
}

.texto-v{
    color: #314c7a!important;
    font-weight: 600;
    font-size: 20px;
} 

::placeholder {
    font-size: 12px;
}

.indicaciones-voto li{
    font-size: 13px;
    color: #fff;
}

.card-header {
    padding: 0rem 1.25rem;
    background-color: #35597b!important;
    border-bottom: 2px solid #314c7a!important;
}

.candidatos{
    float: left;
}

.progress-bar small{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 15px;
    font-weight: 800;
}

.cargos{
    font-size: 14px;
}